
<div class="scrollable">
    <div class="scrollable-content">
        
        <div style="text-align : center; margin-top : 50%" ng-if="calendarCtrl.loading">
              <img src="img/loading.gif" ng-if="calendarCtrl.loading">
        </div>
        
        <div class="section">
            <div class="panel panel-default" ng-repeat="fixture in calendarCtrl.fixtures | orderBy: date">
                <div class="panel-heading">
                    <h3 class="panel-title">{{fixture.date | date :'EEEE dd MMMM yyyy'}}</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr ng-repeat="match in fixture.data">
                            <td class="drapeau" ng-if="match.status == 'FINISHED'">
                                <img src="img\icons\finish.jpg" height="30" width="30">
                            </td>
                            <td class="encours" ng-if="match.status == 'IN_PLAY'">
                                <img ng-if="match.status == 'IN_PLAY'" src="img\icons\progress.jpg" height="30" width="30">
                            </td>
                            <td class="drapeau" ng-if="match.status == 'TIMED'">
                                <img ng-if="match.status == 'TIMED'" src="img\icons\timed.jpg" height="30" width="30">
                            </td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'horaire encours' : 'horaire'">{{match.time}}</td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'drapeau encours' : 'drapeau'">
                                    <img ng-src="{{match.homeTeamHref}}" height="30" width="30">
                            </td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'equipe encours' : 'equipe'">
                                {{match.homeTeamName}}
                            </td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'score encours' : 'score'"> {{match.goalsHomeTeam}}</td>
                            <td class="separation"> - </td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'score encours' : 'score'">{{match.goalsAwayTeam}}</td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'equipe encours' : 'equipe'">
                                {{match.awayTeamName}}
                            </td>
                            <td ng-class="match.status == 'IN_PLAY' ? 'drapeau encours' : 'drapeau'">
                                <img ng-src="{{match.awayTeamHref}}" height="30" width="30">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>