<div class="scrollable">
    <div class="scrollable-content section">

        <fieldset>
            <legend>Menu</legend>

            <button class="btn btn-primary btn-block menu1" ng-click="homeCtrl.calendrier()">
                Calendrier
            </button>

            <button class="btn btn-primary btn-block menu" ng-click="homeCtrl.pronostics()">
                Mes pronostics
            </button>

            <button class="btn btn-primary btn-block menu" ng-click="homeCtrl.classement()">
                Classement
            </button>

            <button class="btn btn-primary btn-block menu" ng-click="homeCtrl.reglement()">
                Reglement
            </button>

            <button class="btn btn-primary btn-block menu" ng-click="homeCtrl.deconnexion()">
                Deconnexion
            </button>

        </fieldset>
    </div>
</div>