<div class="scrollable">
    <div class="scrollable-content section">
        
        <fieldset>
            <legend>Profil</legend>
            
            <div style="text-align : center;">
                <img class="avatar" ng-src="{{profilCtrl.profil.path}}" height="60" width="60">
            </div>
            
            <table>
                <tr>
                    <td align="center">{{profilCtrl.profil.lastname}}</td>
                </tr>
                <tr>
                    <td align="center">{{profilCtrl.profil.firstname}}</td>
                </tr>
                <tr>
                    <td align="center">{{profilCtrl.profil.pseudonyme}}</td>
                </tr>
            </table>
            
            <div style="text-align : center;">
                <img src="img/fond.jpg">
             </div>
             
        </fieldset>
    </div>
</div>